@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";

//z _buttons.scss - tutaj dajemy z mixinow?
.test-button {
    @include button-variant(blue, #000);
}

.fa-nav {
    color:#8196a5;
}

.nav-name {
    color:black;
    size: 20px;
}
.nav-carret {
    color:#8196a5;
}

.breadcrumb {
    background-color: #f8f9fb;
  }