---
layout: navbar
title: clients
modal_delete_client: ok
page_name: Clients
navbar-right-buttons:
breadcrumb_name:
---
<div class="container">
	<body class="bg-light">
        <div class="card border-0">
            <div class="border">   
                <!-- START CARD BODY-->
                <div class="card-body w-100 py-1 px-3 d-sm-inline-flex">
                    <div class="d-flex justify-content-center py-2">
                        <h5 class="my-auto">Clients</h5>
                    </div>
                    <div class="ml-auto d-sm-inline-flex">
                        <div class="d-flex justify-content-center py-2 px-1">
                            <div class="input-group my-auto w-100">
                                <input type="search" placeholder="Search..." aria-describedby="button-addon5" class="form-control">
                                <div class="input-group-append">
                                    <button id="button-addon5" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between px-1">
                            <ul class="nav nav-pills my-auto" id="pills-tab" role="tablist">
                                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Grid view">
                                    <a class="nav-link active" id="button-grid-tab" data-toggle="pill" href="#button-grid" role="tab" aria-controls="button-grid" aria-selected="false">
                                        <i class="fa fa-th-large" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-item mr-2" data-toggle="tooltip" data-placement="top" title="List view">
                                    <a class="nav-link" id="button-list-tab" data-toggle="pill" href="#button-list" role="tab" aria-controls="button-list" aria-selected="true" >
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary btn my-auto px-2" id="add" role="button" aria-pressed="true" data-toggle="modal" data-target="#add_client"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Client</a>
                        </div>
                    </div>
    
                </div>
            </div>
            <!-- END CARD BODY-->
            <!-- START CARD TABLE-->
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade" id="button-list" role="tabpanel" aria-labelledby="button-list-tab">
                    <table class="table table-hover mb-0 table-responsive-lg text-nowrap">
                        <thead class="border-right border-left"> 
                            <tr>
                            <th scope="col"><small class="text-muted">Photo</small></th>
                            <th scope="col"><small class="text-muted">Name</small></th>
                            <th scope="col"><small class="text-muted">Email</small></th>
                            <th scope="col"><small class="text-muted">Client type</small></th>
                            <th scope="col"><small class="text-muted">Grade</small></th>
                            <th scope="col"><small class="text-muted">Contact Type</small></th>
                            <th scope="col"><small class="text-muted">School</small></th>
                            <th scope="col"><small class="text-muted ">Actions</small></th>
                            </tr>
                        </thead>
                        <tbody class="border-right border-left">
                        <!--START CLIENTS CONTENT LIST FROM CLIENTS.YML-->
                        
                        {% for member in site.data.clients %}

                            <tr class="border-top">
                                <td class="align-middle">
                                    <img src="{{ site.data.avatars | sample }}" class="rounded-circle" image height="25" width="25">
                                </td>
                                <td class="align-middle">
                                    <a href="user_details.html">{{ site.data.names | sample }}</a>
                                </td>
                                <td class="align-middle">
                                    {{ site.data.mails | sample }}
                                </td>
                                <th scope="row" class="align-middle">
                                        {% if member.client_type == 'Reffered' %} 
                                    <span class="badge badge-pill badge-warning">Reffered</span>
                                        {% elsif member.client_type == 'Registered' %}  
                                    <span class="badge badge-pill badge-danger">Registered</span>
                                        {% else %}
                                    <span class="badge badge-pill badge-secondary">Undefined</span>
                                        {% endif %}
                                </th>
                                <td class="align-middle">{{member.frade}}</td>
                                <td class="align-middle">{{member.contact_type}}</td>
                                <td class="align-middle">{{member.school}}</td>
                                <td class="d-flexjustify-content-center border-0">
                                    <a href="#" data-placement="bottom" data-toggle="modal" data-target="#edit_client">
                                        <i class="fa fa-pencil-square-o fa-fw" data-toggle="tooltip" data-placement="bottom" title="Edit Client" aria-hidden="true"></i>
                                    </a>
                                    <a href="#"  data-placement="bottom" data-toggle="modal" data-target="#delete_member">
                                        <i class="fa fa-trash-o fa-fw" data-toggle="tooltip" data-placement="bottom" title="Delete Member" aria-hidden="true" data-toggle="modal" data-target="#delete_member"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
						<!--END CLIENTS CONTENT LIST FROM CLIENTS.YML-->
						<!--CARD FOOTER-->
                        </tbody>
					</table>
					<div class="card-footer d-sm-flex bg-white m-0 p-2 px-3 border" >
                        <div class="my-auto text-center text-md-left"><small class="text-muted">Showing 1 to 10 of 57 Entires</small></div>
                        <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                            <ul class="pagination justify-content-center justify-content-md-end my-auto">
                            <li class="page-item"><a class="page-link" href="#"><</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--START CLIENTS CONTENT GRID FROM CLIENTS.YML-->
                <div class="tab-pane fade show active" id="button-grid" role="tabpanel" aria-labelledby="button-grid-tab">
                    <div class="card  bg-light border-0">
                        <table class="table table-hover mb-0 table-responsive-md ">
                            <thead> 
                                <div class="row">
                                    {% for member in site.data.clients %}
                                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 py-2">
                                        <div class="card">
                                            <div class="card-body p-0">
                                                <div class="row">
                                                    <div class="col text-center p-4">
                                                        <a href="user_details.html"><img class="rounded-circle " src="{{ site.data.avatars | sample }}"  alt="Generic placeholder" image height="100" width="100"></a>
                                                    </div>
                                                    <div class="w-100"></div>
                                                    <div class="col text-center pb-1">
                                                        <a href="user_details.html">{{ site.data.names | sample }}</a>
                                                    </div>
                                                    <div class="w-100"></div>
                                                    <div class="col text-center pb-1">
                                                        {{ site.data.mails | sample }}
                                                    </div>
                                                    <div class="w-100"></div>
                                                    <div class="col text-center pb-4">
                                                            {% if member.client_type == 'Reffered' %} 
                                                        <span class="badge badge-pill badge-warning">Reffered</span>
                                                            {% elsif member.client_type == 'Registered' %}  
                                                        <span class="badge badge-pill badge-danger">Registered</span>
                                                            {% else %}
                                                        <span class="badge badge-pill badge-secondary">Undefined</span>
                                                            {% endif %}
                                                    </div>                                  
                                                </div>
                                            </div>
                                            <div class="card-footer ">
                                                <div class="row">
                                                    <div class="col p-0 ml-2">
                                                        <i class="fa fa-trash-o fa-fw text-muted" aria-hidden="true"></i>
                                                        <a href="#" data-toggle="modal" data-target="#delete_member"> Delete</a>
                                                    </div>
                                                    <div class="col text-right p-0 mr-2">
                                                        <i class="fa fa-pencil-square-o fa-fw text-muted" aria-hidden="true"></i>
                                                        <a href="#"  data-toggle="modal" data-target="#edit_client"> Edit Client</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </thead>                  
                        </table>
                    </div>
                </div>   
            <!--END CLIENTS CONTENT GRID FROM CLIENTS.YML-->
            </div>  
        </div>
	</body>
</div>

{% include modal_delete_task.html
    idModal="delete_tasks"
    idtitle="Delete this task?"
    modaltext="Are you sure you want to delete this task?"
    button="user_details_delete.html"
    %}

{% include modal_delete_task.html
    idModal="delete_member"
    idtitle="Delete this member?"
    modaltext="Are you sure you want to delete this member?"
    button="clients.html"
     %}

  {% include modal_add_client.html
    idModal="add_client"
    modalTitle="Add New Client"
	%}

  {% include modal_add_client.html
    idModal="edit_client"
    modalTitle="Edit Client"
	%}


