---
layout: emptypage
---

<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">   <!--Font nie dziala na stronie przy {{page.root}}-->
<link rel="stylesheet" href="{{ page.root}}/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
	<div class="container d-flex justify-content-center col-12 col-sm-8 col-md-6">

	<form class=" px-4">

			{% include auth-pages/form_header.html 
                            
				modalTitle="Forgot Password"  
				modalDesc="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum placeat accusantium quasi perferendis."

				%}

		<div class="form-group font-weight-bold">
			<label for="exampleInputEmail1">Email address or Username</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter...">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	    </div>

		<div class="d-flex">
			<a href="confirm.html" class="btn btn-primary btn-sm mr-auto" role="button" aria-pressed="true">Reset Password</a>
			<a href="index.html" class="btn btn-outline-dark btn-sm" role="button" aria-pressed="true">Back to Home</a>
		</div>

		<div class="d-flex">
			<div class="pt-2 w-100"><a href="login.html" class="card-link">Login</a></div>
			<div class="pt-2 flex-shrink-1>"><a href="register.html" class="card-link">Register</a></div>
		</div>

			<!-- BUTTONY NA ROWACH
			  <div class="row">
				<div class="col px-auto">
					<a href="confirm.html" class="btn btn-primary btn-sm mr-auto" role="button" aria-pressed="true">Reset Password</a>
					<div class="pt-2 w-100"><a href="login.html" class="card-link">Login</a></div>
				</div>
				<div class="col text-right">
					<a href="index.html" class="btn btn-outline-dark btn-sm" role="button" aria-pressed="true">Back to Home</a>
					<div class="pt-2 flex-shrink-1>"><a href="register.html" class="card-link">Register</a></div>
				</div>
			  </div>
			-->
	    {% include auth-pages/form_footer.html %}
	  
	</form>
	</div
	<!-- END Card with Table -->
</body>
	</main><!-- /.container -->
	</html>