---
layout: emptypage
navbar-right-buttons: yes
page_name: Forgot Password?
---
<body class="bg-light">
	<div class="container d-flex justify-content-center">
		<div class="pt-3 col-xl-4 col-lg-6 col-md-8 col-xs-10">

			{% include auth-pages/form_header.html 
                            
				modalTitle="Forgot Password"  
				modalDesc="Lorem ipsum dolor placeat, adipisicing elit. Rerum placeat accusantium quasi."

				%}

			<div class="form-group font-weight-bold">
				<label for="exampleInputEmail1">Email address or Username</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter...">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="d-flex">
				<a href="confirm_mail.html" class="btn btn-primary mr-auto" role="button" aria-pressed="true">Reset Password</a>
				<a href="index.html" class="btn btn-outline-primary" role="button" aria-pressed="true">Back to Home</a>
			</div>
			<div class="d-flex">
				<div class="pt-2 w-100"><a href="index.html" class="card-link">Login</a></div>
				<div class="pt-2 flex-shrink-1>"><a href="register.html" class="card-link">Register</a></div>
			</div>

			{% include auth-pages/form_footer.html %}
		
		</div>
	</div>
</body>
