---
layout: navbar
title: Clients
navbar-right-buttons:
---    
<div class="container p-0">
    <!-- START Card with Table -->
    <div class="card d-flex ">
      <!-- START Tabs with Input & Button "Add" -->
      <div class="card-header">
        Clients  
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-info active" id="pills-schedule-tab" data-toggle="pill" href="#pills-schedule" role="tab" aria-controls="pills-schedule" aria-selected="false">
                <input type="radio" name="options" autocomplete="off" checked>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </label>
            <label class="btn btn-info active" id="pills-reports-tab" data-toggle="pill" href="#pills-reports" role="tab" aria-controls="pills-reports" aria-selected="false">
                <input type="radio" name="options" autocomplete="off">
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </label>
        </div>           	
      </div>
    
      <!-- END Tabs with Input & Button "Add" -->
      <!-- START Table -->
      <div class="tab-content" id="pills-tabContent">
<div class="tab-pane fade show active" id="pills-schedule" role="tabpanel" aria-labelledby="pills-schedule-tab">
    <table class="table mb-0 table-responsive-md table-borderless">
                    <thead> 
                      <tr>
                        <th scope="col"><small class="text-muted">Photo</small></th>
                        <th scope="col"><small class="text-muted">Name</small></th>
                        <th scope="col"><small class="text-muted">Email</small></th>
                        <th scope="col"><small class="text-muted">Client type</small></th>
                        <th scope="col"><small class="text-muted">Client status</small></th>
                        <th scope="col"><small class="text-muted">Grade</small></th>
                        <th scope="col"><small class="text-muted">Contact Type</small></th>
                        <th scope="col"><small class="text-muted">School</small></th>
                        <th scope="col"><small class="text-muted">Actions</small></th>
                      </tr>
                    </thead>
                    <tbody>
            <!--START CLIENTS CONTENT FROM CLIENTS.YML-->
                  {% for member in site.data.clients %}
                    <tr class="border-top">
                        <td class="align-middle"><i class="fa fa-user-circle" aria-hidden="true"></i></td>
                        <td class="align-middle">
                            <a href="user_details.html">{{member.name}}</a>
                        </td>
                        <td class="align-middle">
                            <small><a href="mailto:{{include.mail}}">{{member.email}}</a></small>
                        </td>
                        <th scope="row" class="align-middle">
                          {% if member.client_type == 'Reffered' %} 
                            <span class="badge badge-pill badge-warning">Reffered</span>
                          {% elsif member.client_type == 'Registered' %}  
                            <span class="badge badge-pill badge-danger">Registered</span>
                          {% else %}
                            <span class="badge badge-pill badge-secondary">Undefined</span>
                          {% endif %}
                        </th>
                        <td class="align-middle">{{member.client_status}}</td>
                        <td class="align-middle">{{member.frade}}</td>
                        <td class="align-middle">{{member.contact_type}}</td>
                        <td class="align-middle">{{member.school}}</td>
                        <td class="align-middle">
                          <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Edit this Row">
                            <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                          <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Edit this Row">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                          <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Edit this Row">
                            <i class="fa fa-user-o" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                  {% endfor %}
            <!--END CLIENTS CONTENT FROM CLIENTS.YML-->
                    </tbody>
    </table>
</div>

<div class="tab-pane fade" id="pills-reports" role="tabpanel" aria-labelledby="pills-reports-tab">
    <table class="table mb-0 table-responsive-md table-borderless">
    <thead> 
        <div class="container">
            <div class="row ">
                    {% for member in site.data.clients %}
                <div class="col-3 py-3">
                    <div class="card ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    {% if member.client_type == 'Reffered' %} 
                                        <span class="badge badge-pill badge-warning">Reffered</span>
                                    {% elsif member.client_type == 'Registered' %}  
                                        <span class="badge badge-pill badge-danger">Registered</span>
                                    {% else %}
                                        <span class="badge badge-pill badge-secondary">Undefined</span>
                                    {% endif %}
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                                    {{member.name}}
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <a href="mailto:{{include.mail}}">{{member.email}}</a>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    {{member.client_status}}
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Edit this Row">
                                    <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Edit this Row">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Edit this Row">
                                    <i class="fa fa-user-o" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>                   
    </table>
</div>

</div>
</div>
</div>

<!--CARD FOOTER-->
        <div class="card-footer d-sm-flex m-0 p-2 px-3 border" >
            <div class="my-auto text-center text-md-left"><small class="text-muted">Showing 1 to 10 of 57 Entires</small></div>
            <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                <ul class="pagination justify-content-center justify-content-md-end my-auto">
                  <li class="page-item"><a class="page-link" href="#">-</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">></a></li>
                </ul>
              </nav>
          </div>