---
layout: navbar
title: search
page_name: Search
navbar-right-buttons:
breadcrumb_name:
---
<div class="container">
	<body class="bg-light">
		<div class="card">
			<!-- START UL MD- -->
			<div class="card-header bg-white pb-2 d-md-none">
					<ul class="nav nav-tabs card-header-tabs">
						<div class="col-12 p-0 my-2 mr-auto my-auto">	
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Vitae" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
								<div class="input-group-append" id="button-addon4">
									<button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
										<i class="fa fa-sliders mx-1" aria-hidden="true"></i>	
										Filters
									</button>
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search mx-2" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>
						<div class="col-12 p-0 d-flex my-2">
							<div class="col-4 p-0">
								<div class="my-auto">
									<span class=""><small>Show Results: </small>&nbsp; &nbsp;</span>
								</div>
							</div>
							<div class="col-4 p-0">
								<div class="custom-control custom-switch text-left">
									<input type="checkbox" class="custom-control-input" id="customSwitch1">
									<label class="custom-control-label" for="customSwitch1"><small>Client </small>&nbsp; &nbsp;</label>
								</div>
								<div class="custom-control custom-switch text-left">
									<input type="checkbox" class="custom-control-input" id="customSwitch2">
									<label class="custom-control-label" for="customSwitch2"><small>Tasks </small>&nbsp; &nbsp;</label>
								</div>
							</div>
							<div class="col-4 p-0">	
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="customSwitch3">
									<label class="custom-control-label" for="customSwitch3"><small>Media </small>&nbsp; &nbsp;</label>
								</div>
								<div class="custom-control custom-switch">
									<input type="checkbox" class="custom-control-input" id="customSwitch4">
									<label class="custom-control-label" for="customSwitch4"><small>Notes </small>&nbsp; &nbsp;</label>
								</div>
							</div>
						</div>
					</ul>
					<div class="collapse" id="collapseExample">
						<div class="card card-body border-0 px-0 mt-3">
							<div class="row">
								<div class="col-6 col-sm">
									<span class="text-left">Sort Results:</span>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio1">Most Relevant</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio2">Most Recent</label>
									</div>
								</div>
								<div class="col-6 col-sm mb-3">
									<span class="text-left">Search in Clients:</span>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio3" name="customRadio2" class="custom-control-input">
										<label class="custom-control-label" for="customRadio3">Everyone</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio4" name="customRadio2" class="custom-control-input">
										<label class="custom-control-label" for="customRadio4">Only Womens</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio5" name="customRadio2" class="custom-control-input">
										<label class="custom-control-label" for="customRadio5">Only Mens</label>
									</div>
								</div>
								<div class="col-6 col-sm-3">
									<span class="text-left">Search in Media:</span>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">Show All File Types</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck2">
										<label class="custom-control-label" for="customCheck2">Images</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck3">
										<label class="custom-control-label" for="customCheck3">Videos</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck4">
										<label class="custom-control-label" for="customCheck4">PDF Files</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck5">
										<label class="custom-control-label" for="customCheck5">Spreadsheets</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck6">
										<label class="custom-control-label" for="customCheck6">Presentations</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck7">
										<label class="custom-control-label" for="customCheck7">Documents</label>
									</div>
								</div>
								<div class="col-6 col-sm">
									<span class="text-left">Search in Tasks:</span>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck8">
										<label class="custom-control-label" for="customCheck8">In Open</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck9">
										<label class="custom-control-label" for="customCheck9">In Closed</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck10">
										<label class="custom-control-label" for="customCheck10">With Attached Files</label>
									</div>
								</div>
								<div class="col-sm text-right">
									<button class="btn btn-outline-primary text-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">		
										Close Filters
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END UL MD- -->
				<!-- START UL MD+ -->
				<div class="card-header bg-white pb-4 d-none d-md-block">
					<ul class="nav nav-tabs card-header-tabs">
						<div class="col-12 col-lg-6 p-0 my-2 mr-auto my-auto">	
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Vitae" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
								<div class="input-group-append" id="button-addon4">
									<button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
										<i class="fa fa-sliders mx-1" aria-hidden="true"></i>	
										Filters
									</button>
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search mx-2" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</div>	
						<div class="col-12  col-lg-6 p-0 d-flex my-2 justify-content-center justify-content-lg-end">	
							<div class="my-auto">
								<span class=""><small>Show Results: </small>&nbsp; &nbsp;</span>
							</div>
							<div class="custom-control custom-switch text-left">
								<input type="checkbox" class="custom-control-input" id="customSwitch100">
								<label class="custom-control-label" for="customSwitch100"><small>Client </small>&nbsp; &nbsp;</label>
							</div>
							<div class="custom-control custom-switch text-left">
								<input type="checkbox" class="custom-control-input" id="customSwitch200">
								<label class="custom-control-label" for="customSwitch200"><small>Tasks </small>&nbsp; &nbsp;</label>
							</div>
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="customSwitch300">
								<label class="custom-control-label" for="customSwitch300"><small>Media </small>&nbsp; &nbsp;</label>
							</div>
							<div class="custom-control custom-switch">
								<input type="checkbox" class="custom-control-input" id="customSwitch400">
								<label class="custom-control-label" for="customSwitch400"><small>Notes </small>&nbsp; &nbsp;</label>
							</div>	
						</div>
					</ul>
					<div class="collapse" id="collapseExample">
						<div class="card card-body border-0 px-0 mt-3">
							<div class="row">
								<div class="col-3 col-lg-2">
									<span class="text-left">Sort Results:</span>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio111" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio111">Most Relevant</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio211" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio211">Most Recent</label>
									</div>
								</div>
								<div class="col-3 col-lg-2">
									<span class="text-left">Search in Clients:</span>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio311" name="customRadio211" class="custom-control-input">
										<label class="custom-control-label" for="customRadio311">Everyone</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio411" name="customRadio211" class="custom-control-input">
										<label class="custom-control-label" for="customRadio411">Only Womens</label>
									</div>
									<div class="custom-control custom-radio">
										<input type="radio" id="customRadio511" name="customRadio211" class="custom-control-input">
										<label class="custom-control-label" for="customRadio511">Only Mens</label>
									</div>
								</div>
								<div class="col-3 col-lg-3">
									<span class="text-left">Search in Media:</span>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck111">
										<label class="custom-control-label" for="customCheck111">Show All File Types</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck211">
										<label class="custom-control-label" for="customCheck211">Images</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck311">
										<label class="custom-control-label" for="customCheck311">Videos</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck411">
										<label class="custom-control-label" for="customCheck411">PDF Files</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck511">
										<label class="custom-control-label" for="customCheck511">Spreadsheets</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck611">
										<label class="custom-control-label" for="customCheck611">Presentations</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck711">
										<label class="custom-control-label" for="customCheck711">Documents</label>
									</div>
								</div>
								<div class="col-3 col-lg-2">
									<span class="text-left">Search in Tasks:</span>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck811">
										<label class="custom-control-label" for="customCheck811">In Open</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck911">
										<label class="custom-control-label" for="customCheck911">In Closed</label>
									</div>
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="customCheck1011">
										<label class="custom-control-label" for="customCheck1011">With Attached Files</label>
									</div>
								</div>
								<div class="col-sm text-right">
									<button class="btn btn-outline-primary text-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">		
										Close Filters
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- END UL MD+ -->	
			<div class="card-body text-left bg-light px-3">
				<span class="badge badge-pill badge-secondary">
					Sort by: Latest &nbsp;
					<i class="fa fa-times-circle" aria-hidden="true"></i>
				</span>
				<span class="badge badge-pill badge-secondary">
					Media: Show PDF &nbsp;
					<i class="fa fa-times-circle" aria-hidden="true"></i>
				</span>
				<span class="badge badge-pill badge-secondary">
					Added by: {{ site.data.names | sample }} &nbsp;
					<i class="fa fa-times-circle" aria-hidden="true"></i>
				</span>
			</div>
		</div>

		{% for sea in site.data.search %}
		<ul class="list-unstyled mt-4 pb-4 border-bottom">
			<li class="media">
				<div class="mr-4 my-auto border rounded bg-white">
					{{sea.icon}}
				</div>
				<div class="media-body">
					<h6 class="mt-0 mb-1 text-primary">
						<a href="task_view_details.html">
							{{sea.text1}}
						</a>
					</h6>
					{{sea.text2}}<br>
					<span class="form-text text-muted">
						<small>Added by: {{ site.data.names | sample }} • Assigned to: {{ site.data.names | sample }} • Date Added: {{ site.data.dates | sample }}, {{sea.time}} </small>
					</span>
				</div>
			</li>
		</ul>
		{% endfor %}
	</body>
</div>




















    <!--data-toggle="modal" data-target="#filters"-->
{% include modal_filters.html

	%}