
            {% if page.navbar-right-buttons %}

            <!--START NAVBAR MODAL BUTTONS-->
            
            <ul class="navbar-nav m-auto"z>	
                    <li class="nav-item">
                        <a class="nav-link  {% if page.url == "/" %}active{% endif %}"" href="{{page.root}}index.html" data-toggle="modal" data-target="#nologinmodal">
                            <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                            Home
                        </a>								
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  {% if page.url == "/clients.html" %}active{% endif %}"" href="{{page.root}}/clients.html" data-toggle="modal" data-target="#nologinmodal">
                            <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                            Clients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" {% if page.url == "/providers.html" %}"" href="{{page.root}}providers.html" data-toggle="modal" data-target="#nologinmodal">
                            <i class=" fa fa-truck fa-fw" aria-hidden="true"></i>
                            Providers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" {% if page.url == "/funders.html" %}"" href="{{page.root}}funders.html" data-toggle="modal" data-target="#nologinmodal">
                            <i class="fa fa-usd fa-fw" aria-hidden="true"></i>
                            Funders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" {% if page.url == "/search.html" %}"" href="{{page.root}}search.html" data-toggle="modal" data-target="#nologinmodal">
                            <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                            Search
                        </a>
                    </li>
                </ul>
            <!--END NAVBAR MODAL BUTTONS-->

            {% else %}

            <!--START NAVBAR LOGGED BUTTON-->
            <ul class="navbar-nav m-auto"z>	
                    <li class="nav-item">
                        <a class="nav-link  {% if page.url == "/" %}active{% endif %}"" href="{{page.root}}index.html">
                            <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                            Home
                        </a>								
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  {% if page.url == "/clients.html" %}active{% endif %}"" href="{{page.root}}/clients.html">
                            <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                            Clients
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" {% if page.url == "/providers.html" %}"" href="{{page.root}}providers.html">
                            <i class=" fa fa-truck fa-fw" aria-hidden="true"></i>
                            Providers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" {% if page.url == "/funders.html" %}"" href="{{page.root}}funders.html">
                            <i class="fa fa-usd fa-fw" aria-hidden="true"></i>
                            Funders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" {% if page.url == "/search.html" %}"" href="{{page.root}}search.html">
                            <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                            Search
                        </a>
                    </li>
                </ul>
            <!--END NAVBAR LOGGED BUTTON-->

            {% endif %}
