---
layout: navbar
title: User Details
navbar-right-buttons:
breadcrumb_name: yes
full_name: Teresa Sabdee Wilson
---
<!--START USER DETAILS-->
<div class="container">
  {% include user_details.html 

      show_address=""
        address="317 Willow Ave
        Franklin, CA 90988
        Washington Country"
      show_gender=""
        gender="Female"
      show_mail=""
        mail="juanita@alred.com"
      show_url=""
        url="www.ress.com"
      show_client_language=""
        client_language="English"
      show_family_language=""
        family_language="Russian"
      show_client_type=""
        client_type="Client Reffered"
      show_grade=""
        grade="11"
      show_school=""
        school="Independence High School"
      show_contact_type=""
         contact_type="Spouse"
      show_relation_to=""
         relation_to="Program Supervisior"
      show_legal_guardian=""
        legal_guardian="False"
      show_resident_with=""
        resident_with="False"
    %}
</div>
<!--END USER DETAILS-->


<div class="container">



  <!-- Start CARD -->
  <div class="card">
      <!-- START CARD HEADER tabs -->
      <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                      <i class="fa fa-calendar fa-fw" aria-hidden="true"></i> 
                      Schedule <span class="badge badge-pill badge-success">3</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                      <i class="fa fa-pie-chart fa-fw" aria-hidden="true"></i> 
                      Media <span class="badge badge-pill badge-danger">3</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="v-pills-notes-tab" data-toggle="pill" href="#v-pills-notes" role="tab" aria-controls="v-pills-notes" aria-selected="false">
                      <i class="fa fa-file-o fa-fw" aria-hidden="true"></i> 
                      Notes 
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="v-pills-auths-tab" data-toggle="pill" href="#v-pills-auths" role="tab" aria-controls="v-pills-auths" aria-selected="false">
                      <i class="fa fa-key fa-fw" aria-hidden="true"></i> 
                      Auths 
                  </a>
              </li>
              <li class="nav-item mr-auto">
                  <a class="nav-link" id="v-pills-contracts-tab" data-toggle="pill" href="#v-pills-contracts" role="tab" aria-controls="v-pills-contracts" aria-selected="false">
                      <i class="fa fa-files-o fa-fw" aria-hidden="true"></i> 
                      Contracts 
                  </a>
              </li>
              <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ADD
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#new_task">Add Task</a>
                      <a class="dropdown-item" href="#">Add File</a>
                      <a class="dropdown-item" href="#">Add Note</a>
                      <a class="dropdown-item" href="#">Add Note</a>
                    </div>
                </div>
          </ul>
          
      


      </div>
      <!-- END CARD HEADER tabs -->
      {% include modal_table_eye.html %}
      <!-- START TABS: Schedule | Reports | Notes | Auths | Contracts -->
      <div class="tab-content" id="v-pills-tabContent">
          <!-- START TAB-content: Schedule -->
          <div class="tab-pane fade show active"  id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <!-- START header: search, switch: list | grid -->
              <div class="card-body p-0 pt-2">
                  <div class="d-flex">
                        <nav class="navbar navbar-light mr-auto">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search for Influencers..." aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                          </nav>
                        <!--  START TABS: Grid | List -->
                      <ul class="nav nav-pills my-auto pr-2 m-0" id="pills-tab" role="tablist">
                          <li class="nav-item" data-toggle="tooltip" data-placement="top" title="List view">
                              <a class="nav-link active" id="list-schedule-tab" data-toggle="pill" href="#list-schedule" role="tab" aria-controls="list-schedule" aria-selected="true" >
                                <i class="fa fa-bars" aria-hidden="true"></i>
                              </a>
                          </li>
                          <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Grid view">
                              <a class="nav-link " id="grid-schedule-tab" data-toggle="pill" href="#grid-schedule" role="tab" aria-controls="grid-schedule" aria-selected="false">
                                <i class="fa fa-th-large" aria-hidden="true"></i>
                              </a>
                          </li>
                      </ul>
                      <!-- END TABS: Grid | List -->
                  </div>
              </div>
              <!-- END header: search, switch: list | grid -->
              <!-- START Schedule Tab Content -->
              <div class="tab-content " id="pills-tabContent">
                  <div class="tab-pane fade show active" id="list-schedule" role="tabpanel" aria-labelledby="list-schedule-tab">
                      {% include table-content/schedule_list.html %}
                  </div>
                  <div class="tab-pane fade" id="grid-schedule" role="tabpanel" aria-labelledby="grid-schedule-tab">
                      {% include table-content/schedule_grid.html %}
                  </div>
                  <div class="card-footer d-sm-flex m-0 p-2 px-3" >
                        <div class="my-auto text-center text-md-left"><small class="text-muted">Showing x of x Entries (filtered from x total entries)</small></div>
                        <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                            <ul class="pagination justify-content-center justify-content-md-end my-auto">
                              <li class="page-item"><a class="page-link" href="#">-</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item"><a class="page-link" href="#">></a></li>
                            </ul>
                          </nav>
                      </div>
              </div>
              <!-- END Schedule Tab Content -->
          </div>
          <!-- END TAB-content: Schedule -->

          <!-- START TAB-content:: Reports -->
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <!-- START header: search, switch: list | grid -->
              <div class="card-body p-0 pt-2">
                  <div class="d-flex">
                        <nav class="navbar navbar-light mr-auto">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Search for Influencers..." aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </nav>



                  <!-- START TABS: Grid | List -->
                      <!-- START TABS: Grid | List -->
                      <ul class="nav nav-pills my-auto pr-2 " id="pills-tab" role="tablist">
                            <li class="nav-item" data-toggle="tooltip" data-placement="top" title="List view">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false" >
                                  <i class="fa fa-bars" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Grid view">
                                <a class="nav-link " id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="true">
                                  <i class="fa fa-th-large" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>

                      <!-- END TABS: Grid | List -->
                  <!-- END TABS: Grid | List -->
                  </div>
                  </div>
              <!-- END header: search, switch: list | grid -->

              <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                      {% include table-content/media_list.html %}
                  </div>
                  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                      {% include table-content/media_grid.html %}
                  </div>
                  <div class="card-footer d-sm-flex m-0 p-2 px-3" >
                        <div class="my-auto text-center text-md-left"><small class="text-muted">Showing x of x Entries (filtered from x total entries)</small></div>
                        <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                            <ul class="pagination justify-content-center justify-content-md-end my-auto">
                              <li class="page-item"><a class="page-link" href="#">-</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item"><a class="page-link" href="#">></a></li>
                            </ul>
                          </nav>
                      </div>
              </div>
          </div>
          <!-- END TAB-content:: Reports -->

          <!-- START TAB-content:: Notes -->
          <div class="tab-pane fade" id="v-pills-notes" role="tabpanel" aria-labelledby="v-pills-notes-tab">
              <!-- START header: search, switch: list | grid -->
          <div class="card-body p-0 pt-2">
          <div class="d-flex">
            <nav class="navbar navbar-light mr-auto">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for Influencers..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </nav>

          <ul class="nav nav-pills my-auto pr-2 " id="pills-tab" role="tablist">
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="List view">
                    <a class="nav-link active" id="pills-notes-tab" data-toggle="pill" href="#pills-notes" role="tab" aria-controls="pills-notes" aria-selected="false" >
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Grid view">
                    <a class="nav-link " id="pills-not-tab" data-toggle="pill" href="#pills-not" role="tab" aria-controls="pills-not" aria-selected="true">
                      <i class="fa fa-th-large" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
         
            <!-- old button 
          <ul class="nav nav-pills my-auto pr-2 " id="pills-tab" role="tablist">
              <li class="nav-item">
                  <a class="btn btn-outline-secondary active" id="pills-notes-tab" data-toggle="pill" href="#pills-notes" role="tab" aria-controls="pills-notes" aria-selected="false">
                      List
                  </a>
              </li>
              <li class="nav-item">
                  <a class="btn btn-outline-secondary" id="pills-not-tab" data-toggle="pill" href="#pills-not" role="tab" aria-controls="pills-not" aria-selected="true">
                      Grid
                  </a>
              </li>
          </ul>-->
          
          <!-- END TABS: Grid | List -->
          </div>
          </div>
              <!-- END header: search, switch: list | grid -->

              <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab">
                      {% include table-content/notes_list.html %}
                  </div>
                  <div class="tab-pane fade" id="pills-not" role="tabpanel" aria-labelledby="pills-not-tab">
                      {% include table-content/notes_grid.html %}
                  </div>
                  <div class="card-footer d-sm-flex m-0 p-2 px-3" >
                        <div class="my-auto text-center text-md-left"><small class="text-muted">Showing x of x Entries (filtered from x total entries)</small></div>
                        <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                            <ul class="pagination justify-content-center justify-content-md-end my-auto">
                              <li class="page-item"><a class="page-link" href="#">-</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item"><a class="page-link" href="#">></a></li>
                            </ul>
                          </nav>
                      </div>
              </div>
          </div>
          <!-- END TAB-content:: Notes -->

          <!-- START TAB-content:: Auths -->
          <div class="tab-pane fade" id="v-pills-auths" role="tabpanel" aria-labelledby="v-pills-auths-tab">
              <!-- START header: search, switch: list | grid -->
          <div class="card-body p-0 pt-2">
          <div class="d-flex">
            <nav class="navbar navbar-light mr-auto">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for Influencers..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </nav>

          <ul class="nav nav-pills my-auto pr-2 " id="pills-tab" role="tablist">
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="List view">
                    <a class="nav-link active" id="pills-auths-tab" data-toggle="pill" href="#pills-auths" role="tab" aria-controls="pills-auths" aria-selected="false" >
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Grid view">
                    <a class="nav-link " id="pills-aut-tab" data-toggle="pill" href="#pills-aut" role="tab" aria-controls="pills-aut" aria-selected="true">
                      <i class="fa fa-th-large" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            
          <!-- old grid button
          <ul class="nav nav-pills my-auto pr-2 " id="pills-tab" role="tablist">
              <li class="nav-item">
                  <a class="btn btn-outline-secondary active" id="pills-auths-tab" data-toggle="pill" href="#pills-auths" role="tab" aria-controls="pills-auths" aria-selected="false">
                      List
                  </a>
              </li>
              <li class="nav-item">
                  <a class="btn btn-outline-secondary" id="pills-aut-tab" data-toggle="pill" href="#pills-aut" role="tab" aria-controls="pills-aut" aria-selected="true">
                      Grid
                  </a>
              </li>
          </ul>-->
          
          <!-- END TABS: Grid | List -->
          </div>
          </div>
              <!-- END header: search, switch: list | grid -->

              <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-auths" role="tabpanel" aria-labelledby="pills-auths-tab">
                      {% include table-content/auths_list.html %}
                  </div>
                  <div class="tab-pane fade" id="pills-aut" role="tabpanel" aria-labelledby="pills-aut-tab">
                      {% include table-content/auths_grid.html %}
                  </div>
                  <div class="card-footer d-sm-flex m-0 p-2 px-3" >
                        <div class="my-auto text-center text-md-left"><small class="text-muted">Showing x of x Entries (filtered from x total entries)</small></div>
                        <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                            <ul class="pagination justify-content-center justify-content-md-end my-auto">
                              <li class="page-item"><a class="page-link" href="#">-</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item"><a class="page-link" href="#">></a></li>
                            </ul>
                          </nav>
                      </div>
              </div>
          </div>
          <!-- END TAB-content:: Auths -->

          <!-- START TAB-content:: contracts -->
          <div class="tab-pane fade" id="v-pills-contracts" role="tabpanel" aria-labelledby="v-pills-contracts-tab">
              <!-- START header: search, switch: list | grid -->
          <div class="card-body p-0 pt-2">
          <div class="d-flex">
              <nav class="navbar navbar-light mr-auto">
                  <form class="form-inline">
                      <input class="form-control" type="search" placeholder="Search for Influencers..." aria-label="Search">
                      <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                  </form>
              </nav>
          <!-- START TABS: Grid | List -->
          <ul class="nav nav-pills my-auto pr-2 " id="pills-tab" role="tablist">
              <li class="nav-item">
                  <a class="btn btn-outline-secondary active" id="pills-contracts-tab" data-toggle="pill" href="#pills-contracts" role="tab" aria-controls="pills-contracts" aria-selected="false">
                      List
                  </a>
              </li>
              <li class="nav-item">
                  <a class="btn btn-outline-secondary" id="pills-con-tab" data-toggle="pill" href="#pills-con" role="tab" aria-controls="pills-con" aria-selected="true">
                      Grid
                  </a>
              </li>
          </ul>
          <!-- END TABS: Grid | List -->
          </div>
          </div>
              <!-- END header: search, switch: list | grid -->

              <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-contracts" role="tabpanel" aria-labelledby="pills-contracts-tab">
                      {% include table-content/contracts_list.html %}
                  </div>
                  <div class="tab-pane fade" id="pills-con" role="tabpanel" aria-labelledby="pills-con-tab">
                      {% include table-content/contracts_grid.html %}
                  </div>
                  <div class="card-footer d-sm-flex m-0 p-2 px-3" >
                        <div class="my-auto text-center text-md-left"><small class="text-muted">Showing x of x Entries (filtered from x total entries)</small></div>
                        <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                            <ul class="pagination justify-content-center justify-content-md-end my-auto">
                              <li class="page-item"><a class="page-link" href="#">-</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item"><a class="page-link" href="#">></a></li>
                            </ul>
                          </nav>
                      </div>
              </div>
          </div>
          <!-- END TAB-content:: contracts -->
    </div>
    <!-- END TABS: Schedule | Reports | Notes | Auths | Contracts -->
  </div>
  <!-- END CARD -->
</div>

   
    
{% include modal_details.html
			
    %}
{% include modal_new_task.html
        
    %}

{% include modal_edit_task.html
    
    %}

{% include modal_delete_task.html

    %}