---
layout: navbar
title: clients
page_name: User Details
navbar-right-buttons:
breadcrumb_name: yes
full_name: Teresa Sabdee Wilson
---
<!--START USER DETAILS-->
<div class="container">
  {% include user_details.html 
    
    show_img=""
        img="images/avatars/3.jpg"
    show_name=""
        name="Teresa Sabdee Wilson"
      show_address=""
        address="317 Willow Ave
        Franklin, CA 90988
        Washington Country"
      show_gender=""
        gender="Female"
      show_mail=""
        mail="juanita@alred.com"
      show_url=""
        url="www.ress.com"
      show_client_language=""
        client_language="English"
      show_family_language=""
        family_language="Russian"
      show_client_type=""
        client_type="Financial"
      show_grade=""
        grade="11"
      show_school=""
        school="Independence High School"
      show_contact_type=""
         contact_type="Spouse"
      show_relation_to=""
         relation_to="Program Supervisior"
      show_legal_guardian=""
        legal_guardian="False"
      show_resident_with=""
        resident_with="False"
    %}
</div>
<!--END USER DETAILS-->
<div class="container">
    <body class="bg-light">
        <!-- Start CARD -->
        <div class="card border-0">
            <!-- START CARD HEADER TABS -->
            <div class="card-header border  d-none d-md-block">
                <ul class="nav nav-tabs card-header-tabs mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" id="v-pills-tasks-tab" data-toggle="pill" href="#v-pills-tasks" role="tab" aria-controls="v-pills-tasks" aria-selected="true">
                            <i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> 
                            Tasks 
                            <span class="badge badge-pill badge-secondary">
                                {% assign counter = 0 %}
                                {% for item in site.data.tasks %}
                                {% assign counter=counter | plus:1 %}
                                {% endfor %}
                                {{ counter }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-pills-media-tab" data-toggle="pill" href="#v-pills-media" role="tab" aria-controls="v-pills-media" aria-selected="false">
                            <i class="fa fa-files-o fa-fw" aria-hidden="true"></i> 
                            Media 
                            <span class="badge badge-pill badge-secondary">
                                {% assign counter = 0 %}
                                {% for item in site.data.media %}
                                {% assign counter=counter | plus:1 %}
                                {% endfor %}
                                {{ counter }}
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-pills-notes-tab" data-toggle="pill" href="#v-pills-notes" role="tab" aria-controls="v-pills-notes" aria-selected="false">
                            <i class="fa fa-file-o fa-fw" aria-hidden="true"></i> 
                            Notes 
                            <span class="badge badge-pill badge-secondary">
                                {% assign counter = 0 %}
                                {% for item in site.data.notes %}
                                {% assign counter=counter | plus:1 %}
                                {% endfor %}
                                {{ counter }}
                             </span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END CARD HEADER TABS -->
            <!-- START CARD HEADER PILLS -->
            <div class="card-header border d-md-none">
                <div class="row ">
                    <div class="col p-0">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active d-flex" id="v-pills-tasks-tab" data-toggle="pill" href="#v-pills-tasks" role="tab" aria-controls="v-pills-tasks" aria-selected="true">
                                <i class="fa fa-check-square-o fa-fw my-auto" aria-hidden="true"></i>
                                &nbsp Tasks
                                <span class="badge badge-pill badge-secondary ml-auto my-auto">
                                    {% assign counter = 0 %}
                                    {% for item in site.data.tasks %}
                                    {% assign counter=counter | plus:1 %}
                                    {% endfor %}
                                    {{ counter }}
                                </span>
                            </a>
                            <a class="nav-link d-flex" id="v-pills-media-tab" data-toggle="pill" href="#v-pills-media" role="tab" aria-controls="v-pills-media" aria-selected="false">
                                <i class="fa fa-files-o fa-fw my-auto" aria-hidden="true"></i>
                                &nbsp Media
                                <span class="badge badge-pill badge-secondary ml-auto my-auto">
                                    {% assign counter = 0 %}
                                    {% for item in site.data.media %}
                                    {% assign counter=counter | plus:1 %}
                                    {% endfor %}
                                    {{ counter }}
                                </span>
                            </a>
                            <a class="nav-link d-flex" id="v-pills-notes-tab" data-toggle="pill" href="#v-pills-notes" role="tab" aria-controls="v-pills-notes" aria-selected="false">
                                <i class="fa fa-file-o fa-fw my-auto" aria-hidden="true"></i> 
                                &nbsp Notes
                                <span class="badge badge-pill badge-secondary ml-auto my-auto">
                                    {% assign counter = 0 %}
                                    {% for item in site.data.notes %}
                                    {% assign counter=counter | plus:1 %}
                                    {% endfor %}
                                    {{ counter }}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD HEADER PILLS -->
            <!-- START TABS: Tasks | Media | Notes -->
            <div class="tab-content " id="v-pills-tabContent">
               
                <!-- START TAB-content: Tasks -->
                <div class="tab-pane fade show active"  id="v-pills-tasks" role="tabpanel" aria-labelledby="v-pills-tasks-tab">
                    <!-- START header: search, switch: list | grid -->
                    <div class="card-body border-left border-right border-bottom w-100 py-1 px-0 d-sm-inline-flex">
                        <div class="d-flex justify-content-center">
                            <nav class="navbar navbar-light px-0 w-100 px-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for Tasks..." aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="button-addon2">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <!--  START TABS: Grid | List -->
                        <div class="d-flex justify-content-between px-3 ml-auto">
                            <ul class="nav nav-pills my-auto  mr-2" id="pills-tab" role="tablist">
                                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Grid view">
                                    <a class="nav-link active" id="grid-tasks-tab" data-toggle="pill" href="#grid-tasks" role="tab" aria-controls="grid-tasks" aria-selected="false">
                                        <i class="fa fa-th-large" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="List view">
                                    <a class="nav-link" id="list-tasks-tab" data-toggle="pill" href="#list-tasks" role="tab" aria-controls="list-tasks" aria-selected="true" >
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <button class="btn btn-primary my-auto " type="submit" data-toggle="modal" data-target="#add_task_user_details">
                                <i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Task
                            </button>
                        </div>
                            <!-- END TABS: Grid | List -->
                    </div>
                    
                    <!-- END header: search, switch: list | grid -->
                    <!-- START Tasks Tab Content -->
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade table-responsive-sm " id="list-tasks" role="tabpanel" aria-labelledby="list-tasks-tab">

                            {% include table-content/tasks_list.html %}

                            <div class="card-footer d-sm-flex m-0 p-2 px-3 border-left border-right border-bottom" >
                                <div class="my-auto text-center text-md-left"><small class="text-muted">Showing x of x Entries (filtered from x total entries)</small></div>
                                <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                                    <ul class="pagination justify-content-center justify-content-md-end my-auto">
                                        <li class="page-item"><a class="page-link" href="#"><</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="tab-pane fade show active " id="grid-tasks" role="tabpanel" aria-labelledby="grid-tasks-tab">
                            {% include table-content/tasks_grid.html %}
                        </div>

                    </div>
                    <!-- END Tasks Tab Content -->
                </div>
                <!-- END TAB-content: Tasks -->
                <!-- START TAB-content:: Media -->
                <div class="tab-pane fade" id="v-pills-media" role="tabpanel" aria-labelledby="v-pills-media-tab">
                    <!-- START header: search, switch: list | grid -->
                    <div class="card-body border-left border-right border-bottom w-100 py-1 px-0 d-sm-inline-flex">
                        <div class="d-flex justify-content-center">
                            <nav class="navbar navbar-light px-0 w-100 px-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for Media..." aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" id="button-addon2">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <!--  START TABS: Grid | List -->
                        <div class="d-flex justify-content-between px-3 ml-auto">
                            <ul class="nav nav-pills my-auto mr-2" id="pills-tab" role="tablist">
                                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Grid view">
                                    <a class="nav-link active" id="grid-media-tab" data-toggle="pill" href="#grid-media" role="tab" aria-controls="grid-media" aria-selected="true">
                                        <i class="fa fa-th-large" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav-item" data-toggle="tooltip" data-placement="top" title="List view">
                                    <a class="nav-link" id="list-media-tab" data-toggle="pill" href="#list-media" role="tab" aria-controls="list-media" aria-selected="false" >
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                            <button class="btn btn-primary my-auto" type="submit" data-toggle="modal" data-target="#add_media">
                                <i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Media
                            </button>
                        </div>
                            <!-- END TABS: Grid | List -->
                    </div>
                    <!-- END header: search, switch: list | grid -->
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade" id="list-media" role="tabpanel" aria-labelledby="list-media-tab">

                            {% include table-content/media_list.html %}

                            <div class="card-footer d-sm-flex m-0 p-2 px-3 border-left border-right border-bottom" >
                                <div class="my-auto text-center text-md-left"><small class="text-muted">Showing x of x Entries (filtered from x total entries)</small></div>
                                <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                                    <ul class="pagination justify-content-center justify-content-md-end my-auto">
                                        <li class="page-item"><a class="page-link" href="#"><</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="grid-media" role="tabpanel" aria-labelledby="grid-media-tab">
                            {% include table-content/media_grid.html %}
                        </div>
                    </div>
                </div>
                <!-- END TAB-content:: Media -->

                <!-- START TAB-content:: Notes -->
                <div class="tab-pane fade" id="v-pills-notes" role="tabpanel" aria-labelledby="v-pills-notes-tab">
                    <!-- START header: search, switch: list | grid -->
                    
                    
                    <div class="card-body border-left border-right border-bottom w-100 py-1 px-0 d-sm-inline-flex">
                            <div class="d-flex justify-content-center">
                                <nav class="navbar navbar-light px-0 w-100 px-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for Notes..." aria-label="Recipient's username" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" id="button-addon2">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <!--  START TABS: Grid | List -->
                            <div class="d-flex justify-content-between px-3 ml-auto">
                                <ul class="nav nav-pills my-auto mr-2" id="pills-tab" role="tablist">
                                    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Grid view">
                                        <a class="nav-link active" id="grid-notes-tab" data-toggle="pill" href="#grid-notes" role="tab" aria-controls="grid-noteses" aria-selected="true">
                                            <i class="fa fa-th-large" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="List view">
                                        <a class="nav-link" id="list-notes-tab" data-toggle="pill" href="#list-notes" role="tab" aria-controls="list-notes" aria-selected="false" >
                                            <i class="fa fa-bars" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                                <button class="btn btn-primary my-auto" type="submit" data-toggle="modal" data-target="#add_note">
                                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Note
                                </button>
                            </div>
                                <!-- END TABS: Grid | List -->
                        </div>

                    <!-- END header: search, switch: list | grid -->
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade" id="list-notes" role="tabpanel" aria-labelledby="list-notes-tab">

                            {% include table-content/notes_list.html %}

                            <div class="card-footer d-sm-flex m-0 p-2 px-3 border-left border-right border-bottom" >
                                <div class="my-auto text-center text-md-left"><small class="text-muted">Showing x of x Entries (filtered from x total entries)</small></div>
                                <nav aria-label="Page navigation example" class="ml-auto p-0" data-toggle="modal" data-target="#nologinmodal">
                                    <ul class="pagination justify-content-center justify-content-md-end my-auto">
                                    <li class="page-item"><a class="page-link" href="#"><</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#">></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="grid-notes" role="tabpanel" aria-labelledby="grid-notes-tab">
                            {% include table-content/notes_grid.html %}
                        </div>
                    </div>
                </div>
                <!-- END TAB-content:: Notes -->
            </div>
            <!-- END TABS: Tasks | Media | Notes -->
        </div>
        <!-- END CARD -->
    </body>
</div>


<!--  USER DETAILS  -->

{% include modal_add_client.html

    idModal="edit_client"
    modalTitle="Edit Client"
    button="user_details.html"
    %}

{% include modal_delete_task.html
    idModal="delete_member"
    idtitle="Delete this member?"
    modaltext="Are you sure you want to delete this member?"
    button="clients.html"
     %}

<!--  TASKS  -->

{% include modal_add_new_task.html
    idModal="add_task_user_details"
    button="user_details.html"
    %}

<!--  href="task_view_details.html">View details  -->

{% include modal_edit_task.html
    idModal="edit_task_user_details"
    delete="#delete_tasks"
    save="user_details.html"
    %}

{% include modal_delete_task.html
    idModal="delete_tasks"
    idtitle="Delete this task?"
    modaltext="Are you sure you want to delete this task?"
    button="user_details_delete.html"
    %}

<!--MEDIA-->

{% include modal_add_new_media.html
    idModal="add_media"
    modalTitle="Add New Media"
    %}

{% include modal_add_new_media.html
    idModal="edit_media_user_details"
    modalTarget="#delete_user_details_media"
    modalTitle="Edit Media"
    deleteText="Delete this Media"
    button="user_details.html"
    %}  

{% include modal_download.html

    %}

{% include modal_delete_task.html
    idModal="delete_user_details_media"
    idtitle="Delete this media?"
    modaltext="Are you sure you want to delete this media?"
    button="user_details.html"
     %}

<!--NOTES-->

{% include modal_add_new_note.html
    idModal="add_note"
    modalTitle="Add New Note"
    button="Add New Note"
    %}

{% include modal_notes_view.html

    %} 

{% include modal_add_new_note.html
    idModal="edit_note"
    modalTarget="#delete_user_details_note"
    modalTitle="Edit Note"
    button="Save Changes"
    buttonLink="user_details.html"
    deleteText="Delete this Note"
    %}  

{% include modal_delete_task.html
    idModal="delete_user_details_note"
    modalTarget="#delete_user_details_note"
    idtitle="Delete this note?"
    modaltext="Are you sure you want to delete this note?"
    button="user_details.html"
        %}