---
layout: navbar
title: Clients
page_name: User Details
navbar-right-buttons:
breadcrumb_name: yes
full_name: Teresa Sabdee Wilson
---
<!--START USER DETAILS-->
<div class="container">
  {% include user_details.html 

    show_img=""
    img="images/avatars/3.jpg"
    show_name=""
        name="Teresa Sabdee Wilson"
      show_address=""
        address="317 Willow Ave
        Franklin, CA 90988
        Washington Country"
      show_gender=""
        gender="Female"
      show_mail=""
        mail="juanita@alred.com"
      show_url=""
        url="www.ress.com"
      show_client_language=""
        client_language="English"
      show_family_language=""
        family_language="Russian"
      show_client_type=""
        client_type="Client Reffered"
      show_grade=""
        grade="11"
      show_school=""
        school="Independence High School"
      show_contact_type=""
         contact_type="Spouse"
      show_relation_to=""
         relation_to="Program Supervisior"
      show_legal_guardian=""
        legal_guardian="False"
      show_resident_with=""
        resident_with="False"
    %}
</div>
<!--END USER DETAILS-->
<div class="container pt-3">
    <body class="bg-light">
        <!-- Start CARD -->
        <div class="card">
            <!-- START CARD HEADER TABS -->
            <div class="card-header border  d-none d-md-block">
                <ul class="nav nav-tabs card-header-tabs mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" id="v-pills-tasks-tab" data-toggle="pill" href="#v-pills-tasks" role="tab" aria-controls="v-pills-tasks" aria-selected="true">
                            <i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i> 
                            Tasks 
                            <span class="badge badge-pill badge-secondary">
                                0
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-pills-media-tab" data-toggle="pill" href="#v-pills-media" role="tab" aria-controls="v-pills-media" aria-selected="false">
                            <i class="fa fa-files-o fa-fw" aria-hidden="true"></i> 
                            Media 
                            <span class="badge badge-pill badge-secondary">
                                0
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="v-pills-notes-tab" data-toggle="pill" href="#v-pills-notes" role="tab" aria-controls="v-pills-notes" aria-selected="false">
                            <i class="fa fa-file-o fa-fw" aria-hidden="true"></i> 
                            Notes 
                            <span class="badge badge-pill badge-secondary">
                                0
                             </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-header border d-md-none">
                <div class="row ">
                    <div class="col p-0">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active d-flex" id="v-pills-tasks-tab" data-toggle="pill" href="#v-pills-tasks" role="tab" aria-controls="v-pills-tasks" aria-selected="true">
                                <i class="fa fa-check-square-o fa-fw my-auto" aria-hidden="true"></i>
                                &nbsp Tasks
                                <span class="badge badge-pill badge-secondary ml-auto my-auto">
                                    0
                                </span>
                            </a>
                            <a class="nav-link d-flex" id="v-pills-media-tab" data-toggle="pill" href="#v-pills-media" role="tab" aria-controls="v-pills-media" aria-selected="false">
                                <i class="fa fa-files-o fa-fw my-auto" aria-hidden="true"></i>
                                &nbsp Media
                                <span class="badge badge-pill badge-secondary ml-auto my-auto">
                                    0
                                </span>
                            </a>
                            <a class="nav-link d-flex" id="v-pills-notes-tab" data-toggle="pill" href="#v-pills-notes" role="tab" aria-controls="v-pills-notes" aria-selected="false">
                                <i class="fa fa-file-o fa-fw my-auto" aria-hidden="true"></i> 
                                &nbsp Notes
                                <span class="badge badge-pill badge-secondary ml-auto my-auto">
                                    0
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CARD HEADER TABS -->
       
            <!-- START TABS: Tasks | Media | Notes -->
            <div class="tab-content" id="v-pills-tabContent">
                <!-- START TAB-content: Tasks -->
                <div class="tab-pane fade show active"  id="v-pills-tasks" role="tabpanel" aria-labelledby="v-pills-tasks-tab">
                    <!-- START Tasks Tab Content -->
                    <div class="tab-content " id="pills-tabContent">
                        <div class="tab-pane fade show active" id="list-Tasks" role="tabpanel" aria-labelledby="list-Tasks-tab"> 
                            <div class="container py-5">
                                <div class="row">
                                    <div class="col text-center text-primary">
                                        <i class="fa fa-info-circle fa-5x text-muted" aria-hidden="true"></i>
                                    </div>  
                                    <div class="w-100"></div>
                                    <div class="col text-center pt-3">
                                        <p class="h5 m-0">Without Content</p>
                                        <p class="text-muted">You have nothing added here.</p> 
                                        <a class="btn btn-primary px-3" href="#" data-toggle="modal" data-target="#add_task_user_details" role="button">Add Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Tasks Tab Content -->
                </div>
                <!-- END TAB-content: Tasks -->
      
                <!-- START TAB-content:: Media -->
                <div class="tab-pane fade" id="v-pills-media" role="tabpanel" aria-labelledby="v-pills-media-tab">   
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <!-- START Media Tab Content -->
                            <div class="container py-5">
                                <div class="row">
                                    <div class="col text-center text-primary">
                                        <i class="fa fa-info-circle fa-5x text-muted" aria-hidden="true"></i>
                                    </div>  
                                    <div class="w-100"></div>
                                    <div class="col text-center pt-3">
                                        <p class="h5 m-0">Without Content</p>
                                        <p class="text-muted">You have nothing added here.</p> 
                                        <a class="btn btn-primary px-3" href="#" data-toggle="modal" data-target="#add_task_user_details" role="button">Add Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END Media Tab Content -->
                        </div>
                    </div>
                </div>
                <!-- END TAB-content:: Media -->
      
                <!-- START TAB-content:: Notes -->
                <div class="tab-pane fade" id="v-pills-notes" role="tabpanel" aria-labelledby="v-pills-notes-tab">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-notes" role="tabpanel" aria-labelledby="pills-notes-tab">
                            <!-- START Notes Tab Content -->
                            <div class="container py-5">
                                <div class="row">
                                    <div class="col text-center text-primary">
                                        <i class="fa fa-info-circle fa-5x text-muted" aria-hidden="true"></i>
                                    </div>  
                                    <div class="w-100"></div>
                                    <div class="col text-center pt-3">
                                        <p class="h5 m-0">Without Content</p>
                                        <p class="text-muted">You have nothing added here.</p> 
                                        <a class="btn btn-primary px-3" href="#" data-toggle="modal" data-target="#add_task_user_details" role="button">Add Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END Media Tab Content -->
                        </div>
                    </div>
                </div>
                <!-- END TAB-content:: Notes -->
            </div>
          <!-- END TABS: Tasks | Media | Notes -->
        </div>
        <!-- END CARD -->
    </body>
</div>

{% include modal_add_client.html

    idModal="edit_client"
    modalTitle="Edit Client"
    button="user_details.html"

    %}

{% include modal_delete_task.html
    idModal="delete_member"
    idtitle="Delete this member?"
    modaltext="Are you sure you want to delete this member?"
    button="clients.html"
     %}

     {% include modal_add_new_task.html
        idModal="add_task_user_details"
        button="user_details.html"
        %}