<div class="modal fade" id="nologinmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <body class="bg-light">
                    <div class="container d-flex justify-content-center">
                        <div class="col-12 col-md-10">
                
                                {% include auth-pages/form_header.html 
                                            
                                    modalTitle="Sign In to Application"  
                                    modalDesc="Lorem ipsum dolor placeat, adipisicing elit. Rerum placeat accusantium quasi."
                
                                    %}
                    
                            <div class="form-group font-weight-bold">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email...">
                                <small id="emailHelp" class="form-text text-muted">Simply press “Sign In” below to enter the webapp.</small>
                            </div>
                            <div class="form-group font-weight-bold">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password...">
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"><strong>Remember Password</strong></label>
                            </div>
                            <a href="clients.html" class="btn btn-primary btn-block" role="button" aria-pressed="true">Sign In</a>
                            <div class="d-flex">
                                <div class="pt-2 w-100"><a href="forgot-password.html" class="card-link">Forgot Password</a></div>
                                <div class="pt-2 flex-shrink-1>"><a href="register.html" class="card-link">Register</a></div>
                            </div>
                
                            {% include auth-pages/form_footer.html %}
                            
                        </div>
                    </div>
                </body>
            </div>
        </div>
    </div>
</div>
