<div class="modal fade" id="download" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col text-center text-danger pt-4">
							<div class="spinner-border text-primary" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<div class="w-100"></div>
						<div class="col text-center pt-3">
							<h3>Downloading...</h3>
						</div>
						<div class="w-100"></div>
						<div class="col text-center pt-3">
							If the download doesn't start automatically in a few seconds, please click <a href="#">here</a> to access the download URL directly.
						</div>
						<div class="w-100"></div>
						<div class="col text-center py-4">
							<button type="button" class="btn btn-outline-danger text-center" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
