<div class="modal fade" id="delete_task" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col text-center text-danger pt-4">
							<i class="fa fa-info-circle fa-5x" aria-hidden="true"></i>
						</div>
						<div class="w-100"></div>
						<div class="col text-center pt-3">
							<p class="h3">Delete this task?</p>
						</div>
						<div class="w-100"></div>
						<div class="col text-center pt-3">
							<span>Are you sure you want to delete this task. Note, <br> you cannot undo this change.</span>
						</div>
						<div class="w-100"></div>
						<div class="col text-center py-4">
						<a class="btn btn-outline-secondary text-center" href="user_details.html" role="button">Close</a>
						<a class="btn btn-danger text-center" href="index.html" role="button">Delete</a>
						</div>
					</div>
				</div>
        </div>
      </div>
    </div>
  </div>