<div class="modal fade" id="{{include.idModal}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      	<div class="modal-content">
        	<div class="modal-header">
          		<h5 class="modal-title" id="exampleModalLabel">Create New Task</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        	</div>
        	<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Task Name:</label>
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Enter Task Name..." aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Add Tags:</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Tags Here...">
						<small id="emailHelp" class="form-text text-muted">Add tags here; separate them with a comma.</small>
					</div>
				</form>
				<div class="col-12 col-sm py-2 px-0">
					<div class="row">
						<div class="col px-0">
							<div class="col-12 col-sm pb-1">
								Assigned To:
							</div>
							<div class="col-12 col-sm">
								<div class="input-group">
									<label class="input-group-text" for="inputGroupSelect01">
										<i class="fa fa-user" aria-hidden="true"></i>
									</label>
									<div class="input-group-append">
										<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select User...</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												<i class="fa fa-user text-success" aria-hidden="true"></i>&nbsp Teresa Sabdee Wilson
											</a>
											<a class="dropdown-item" href="#">
												<i class="fa fa-user text-secondary text-muted" aria-hidden="true"></i>&nbsp Marcin Tracz
											</a>
											<a class="dropdown-item" href="#">
												<i class="fa fa-user text-secondary" aria-hidden="true"></i>&nbsp Tomasz Owczarczyk
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm px-0">
							<div class="col-12 col-sm pb-1">
								Priority:
							</div>
							<div class="col-12 col-sm">
								<div class="input-group">
									<label class="input-group-text" for="inputGroupSelect01">
										<input type="radio" aria-label="Radio button for following text input">
									</label>
									<div class="input-group-append">
										<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Priority...</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">
												<i class="fa fa-circle text-success mr-1" aria-hidden="true"></i> Small											</a>
											<a class="dropdown-item" href="#">
												<i class="fa fa-circle text-warning mr-1" aria-hidden="true"></i> Medium
											</a>
											<a class="dropdown-item" href="#">
												<i class="fa fa-circle text-danger mr-1" aria-hidden="true"></i> High
											</a>
											<a class="dropdown-item" href="#">
												<i class="fa fa-circle-o text-secondary mr-1 text-muted" aria-hidden="true"></i> Non
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<form>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Task Details:</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
					</div>
				</form>
				<form>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Attachments:</label>
						<div class="input-group mb-3">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
								<label class="custom-file-label" for="inputGroupFile03">Choose file to this task...</label>
							</div>
						</div>
					</div>
				</form>
        	</div>
			<div class="modal-footer px-4">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
				<a href="{{include.button}}"><button type="button" class="btn btn-primary">Add Task</button></a>
			</div>
      	</div>
    </div>
</div>