<div class="modal fade" id="filters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filters</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0 px-4">
                <fieldset class="form-group pt-3 border-bottom">
                    <div class="row pb-3">
                        <legend class="col-form-label col-5 pt-0">Tasks</legend>
                        <div class="col-7">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="option7">
                                <label class="form-check-label" for="gridRadios7">
                                    Word File
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="option8">
                                <label class="form-check-label" for="gridRadios8">
                                    Excel File
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios9" value="option9">
                                <label class="form-check-label" for="gridRadios9">
                                    PDF File
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group border-bottom">
                    <div class="row pb-3">
                        <legend class="col-form-label col-5 pt-0">Media</legend>
                        <div class="col-7">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                                <label class="form-check-label" for="gridRadios4">
                                    Video
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5">
                                <label class="form-check-label" for="gridRadios5">
                                    Music
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="option6">
                                <label class="form-check-label" for="gridRadios6">
                                    Images
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group border-bottom">
                    <div class="row pb-3">
                        <legend class="col-form-label col-5 pt-0">Notes</legend>
                        <div class="col-7">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="option7">
                                <label class="form-check-label" for="gridRadios7">
                                    Word File
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="option8">
                                <label class="form-check-label" for="gridRadios8">
                                    Excel File
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios9" value="option9">
                                <label class="form-check-label" for="gridRadios9">
                                    PDF File
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group border-bottom">
                    <div class="row pb-3">
                        <legend class="col-form-label col-5 pt-0">Added in:</legend>
                        <div class="col-7">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios10" value="option10">
                                <label class="form-check-label" for="gridRadios10">
                                    Last Hour
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios11" value="option11">
                                <label class="form-check-label" for="gridRadios11">
                                    Today
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios12" value="option12">
                                <label class="form-check-label" for="gridRadios12">
                                    This week
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios13" value="option113">
                                <label class="form-check-label" for="gridRadios3">
                                    This month
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios14" value="option14">
                                <label class="form-check-label" for="gridRadios14">
                                    This year
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <form>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Added by:</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Name">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="search.html"><button type="button" class="btn btn-primary">Search</button></a>
            </div>
        </div>
    </div>
</div>
