<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0">
    <div class="container">
        {% if page.navbar-right-buttons %}
        <a class="navbar" href="index.html" style="text-decoration: none">
            <i class="fa fa-css3 fa-2x text-white" aria-hidden="true"></i>
            <nav class="navbar navbar-light pl-1 pr-0">
                <span class="navbar-brand font-weight-bold">fabryk</span>
            </nav> 
        </a>
        {% else %}
        <a class="navbar pl-0" href="home.html" style="text-decoration: none">
            <i class="fa fa-css3 fa-2x text-white" aria-hidden="true"></i>
            <nav class="navbar navbar-light pl-1 pr-0">
                <span class="navbar-brand font-weight-bold">fabryk</span>
            </nav> 
        </a>
        {% endif %}
    
        <button class="navbar-toggler border-info" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainmenu">
            
            {% if page.navbar-right-buttons %}   
            <ul class="navbar-nav m-auto">	
                <li class="nav-item">
                    <a class="nav-link  {% if page.url == "/" %}active{% endif %}
                                        {% if page.url == "/register.html" %}active{% endif %}
                                        {% if page.url == "/home.html" %}active{% endif %}"" href="{{page.root}}home.html" data-toggle="modal" data-target="#nologinmodal">
                        <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                        Home
                    </a>								
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="clients.html" data-toggle="modal" data-target="#nologinmodal"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-search fa-fw" aria-hidden="true" data-toggle="modal" data-target="#nologinmodal"></i>&nbsp; Search</a>
                </li>
            </ul>
            <!--END NAVBAR - IF YOU ARE NON LOGGED-->
            
            {% else %}

            <!--START NAVBAR - IF YOU ARE LOGGED-->
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == "/" %}active{% endif %}
                                       {% if page.url == "/home.html" %}active{% endif %}"" href="{{page.root}}home.html">
                        <i class="fa fa-home fa-fw" aria-hidden="true"></i>
                        Home
                    </a>						
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == "clients.html" %}active{% endif %} 
                                        {% if page.url == "/user_details.html" %}active{% endif %}
                                        {% if page.url == "/user_details_delete.html" %}active{% endif %}
                                        {% if page.url == "/clients-delete.html" %}active{% endif %}
                                        {% if page.url == "/view_details.html" %}active{% endif %}
                                        {% if page.url == "/task_view_details.html" %}active{% endif %}
                                        {% if page.url == "/user_details_delete_member.html" %}active{% endif %}
                                        {% if page.url == "/clients.html" %}active{% endif %}"" href="{{page.root}}clients.html">
                        <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                        Clients
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link  {% if page.url == "/" %}active{% endif %}
                                            {% if page.url == "/resources.html" %}active{% endif %}"" href="{{page.root}}resources.html">
                        <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>
                        Resources
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == "/" %}active{% endif %}
                                        {% if page.url == "/search.html" %}active{% endif %}"" href="{{page.root}}search.html">
                        <i class="fa fa-search fa-fw" aria-hidden="true"></i> 
                        Search
                    </a>
                </li>
            </ul>
            <!--END NAVBAR - IF YOU ARE LOGGED-->

                {% endif %}

            <ul class="navbar-nav ">
                {% if page.navbar-right-buttons %}
                <!--START NAVBAR RIGHT BUTTONS-->
                <li class="nav-item form-inline">
                    <a class="btn btn-link my-auto mr-2 text-white" href="index.html" role="button">
                        <i class="fa fa-sign-in fa-fw mr-2" aria-hidden="true"></i>Login</a>
                    <a class="btn btn-outline-light my-auto" href="register.html" role="button">Register</a>
                </li>
                <!--END NAVBAR RIGHT BUTTONS-->
                {% else %}
                <!--START NAVBAR LOGGED USER-->
                <li class="nav-item dropdown ">
                    <a class="nav-link d-flex my-auto" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="d-flex flex-nowrap">
                            <div class="order-2 order-lg-1 my-auto mr-2">&nbsp;Mark Hohmann</div> 
                            <div class="order-1 px-1"> <img src="{{ site.data.avatars | sample }}" class="rounded-circle" image height="30" width="30"> </div>
                            <div class="order-3 px-1 my-auto"><i class="fa fa-caret-down" aria-hidden="true"></i></div> 
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="edit-profile.html">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="index.html">Sign Out</a>
                    </div>		
                </li>
                <!--END NAVBAR LOGGED USER-->
                {% endif %}
            </ul>
        </div>
    </div>
</nav>