          <tr class="border-top">

            <td class="align-middle"><i class="fa fa-user-circle" aria-hidden="true"></i></td>
            <td class="align-middle">

                {% if include.showname %}
                    <a href="{{page.root}}{{include.link_user}}.html">{{ include.name}}</a>
                {% else %}
                     undefined
                {% endif %}

            </td>
            <td class="align-middle">
            
                {% if include.showmail %}
                    <small><a href="mailto:{{ include.mail}}">{{include.mail}}</a></small>
                {% else %}
                     undefined
                {% endif %}
            </td>
            <th scope="row" class="align-middle">

                {% if include.client_type_reffered %}
                    
                    <span class="badge badge-pill badge-warning">Reffered</span>

                {% elsif include.client_type_register %}
                    
                    <span class="badge badge-pill badge-danger">Registered</span>

                {% else %}

                    <span class="badge badge-pill badge-secondary">Undefined</span>

                {% endif %}

          </th>
            <td class="align-middle">Lapse in Service</td>
            <td class="align-middle">11</td>
            <td class="align-middle">Spouse</td>
            <td class="align-middle">Independence High School</td>
            <td class="align-middle">
              <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Edit this Row">
                 <i class="fa fa-search-plus" aria-hidden="true"></i></a>
              <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Edit this Row">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
              <a href="#"  data-toggle="tooltip" data-placement="bottom" title="Edit this Row">
                   <i class="fa fa-user-o" aria-hidden="true"></i></a>
            </td>
          </tr>