<!-- START Table -->
<table class="table mb-0 table-responsive-md ">
    <thead> 
        <tr>
          <th scope="col" class="align-middle">
            <small class="text-muted">
              Authorizantion Type
            </small>
          </th>
          <th scope="col" class="align-middle">
            <small class="text-muted">
              Auths List
            </small>
          </th>
          <th scope="col" class="align-middle">
            <small class="text-muted">
              Funding Begin date
            </small>
          </th>
          <th scope="col" class="align-middle">
            <small class="text-muted">
              Funding End Date
            </small>
          </th>
          <th scope="col" class="align-middle">
            <small class="text-muted">
              Enrollment Date
            </small>
          </th>
          <th scope="col" class="align-middle">
            <small class="text-muted">
              Termination Date
            </small>
          </th>
          <th scope="col" class="align-middle">
            <small class="text-muted">
              Funder
            </small>
          </th>
          <th scope="col" class="align-middle">
            <small class="text-muted">
  
            </small>
          </th>
        </tr>
    </thead>
  <tbody>

{% for aut in site.data.auths %}
<tr class="border-top">
    <th scope="row" class="align-middle ">
        <a href="#">
          <span class="badge badge-pill badge-secondary text-uppercase">
            {{ aut.authType }}
          </span>
        </a>
    </th>
      <td class="align-middle">{{aut.authorization_code}}</td>
      <td class="align-middle text-uppercase">{{aut.funding_begin_date}}</td>
      <td class="align-middle text-uppercase">{{aut.funding_end_date}}</td>
      <td class="align-middle text-uppercase">{{aut.enrollment_date}}</td>
      <td class="align-middle"><p class="font-weight-light">{{aut.termination_date}}</p></td>
      <td class="align-middle">{{aut.funder}}</td>
      <td class="align-middle"></td>
</tr>
{% endfor %}

</tbody>
</table>