<!--START data for auths-->         

<!-- START Table -->
<div class="row ">
    {% for aut in site.data.auths %}
    <div class="col-12 col-md-6 p-auto my-1">
  <div class="card">
      <div class="card-body px-3 py-2">
          <div class="row">
              <div class="col-auto">
                  <dl class="row justify-content-center justify-content-md-start">
                      <dt class="col-6"><small class="text-muted">Authorization Type:</small></dt>
                      <dd class="col-6"><small>{{aut.authType}}</small></dd>
                      <dt class="col-6"><small class="text-muted">Authorization Code:</small></dt>
                      <dd class="col-6"><small>{{aut.authorization_code}}</a></small></dd>
                      <dt class="col-6"><small class="text-muted">Funding Begin date:</small></dt>
                      <dd class="col-6"><small>{{aut.funding_begin_date}}</a></small></dd>
                      <dt class="col-6"><small class="text-muted">Funding End Date:</small></dt>
                      <dd class="col-6"><small>{{aut.funding_end_date}}</a></small></dd>
                      <dt class="col-6"><small class="text-muted">Enrollment Date:</small></dt>
                      <dd class="col-6"><small>{{aut.enrollment_date}}</a></small></dd>
                      <dt class="col-6"><small class="text-muted">Termination Date:</small></dt>
                      <dd class="col-6"><small>{{aut.termination_date}}</a></small></dd>
                      <dt class="col-6"><small class="text-muted">Funder:</small></dt>
                      <dd class="col-6"><small>{{aut.funder}}</a></small></dd>
                  </dl>
              </div>
          </div>
      </div>
  </div>
</div>
{% endfor %}
</div>
<!-- END Table -->

<!--END data for notes--> 