<!-- START Table -->
<table class="table mb-0 table-responsive-md">
    <thead> 
        <tr>
          <th scope="col" class="align-middle">
            <small class="text-muted">
              File Name
            </small>
          </th>
          <th scope="col" class="align-middle">
            <small class="text-muted">
              Date Added
            </small>
          </th>
          <th scope="col" class="align-middle text-right">
            <small class="text-muted">
              Added by
            </small>
          </th>
          <th scope="col" class="align-middle text-right">
            <small class="text-muted">
              Tags
            </small>
          <th scope="col" class="align-middle text-right">
              <small class="text-muted">
              
              </small>
          </th>
        </tr>
    </thead>
  <tbody>


{% for schedul in site.data.schedule %} 
<tr class="">
    <th scope="row" class="align-middle">

    </th>
        <td class="align-middle">

        </td>
        <td class="align-middle">{{schedul.funding_begin_date}}</td>
        <td class="align-middle">
			<div class="btn-group">
            <div class="dropdown dropdown-menu-right">
                <button class="btn btn-sm dropdown-toggle btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-cog" aria-hidden="true"></i>
                </button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#" >View details</a>
					<a class="dropdown-item" href="#">Edit this task</a>
					<a class="dropdown-item" href="#">Delete</a>
				</div>
			</div>
			</div>
        </td>
</tr>
{% endfor %}

</tbody>
</table>
