<!--START data for schedule-->          
<div class="card-body pt-1">
    <div class="row">
    {% for schedul in site.data.schedule %}
    <div class="col-12 col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <div class="dropdown pb-2">
                    <button class="btn btn-link btn-sm dropdown-toggle pl-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-circle text-success mr-1" aria-hidden="true"></i> Small
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-circle text-success mr-1" aria-hidden="true"></i> Small
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-circle text-warning mr-1" aria-hidden="true"></i> Medium
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-circle text-danger mr-1" aria-hidden="true"></i> High
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-circle-o text-secondary mr-1 text-muted" aria-hidden="true"></i> Non
                        </a>
                    </div>
                </div>
                <span>
                    <div class="pb-2">
                    #26077 
                    <a href="#" data-toggle="modal" data-target="#user_details">
                        transmitting the interface won't do anything, we need to connect the multi-byte PCI capacitor.
                    </a>
                    </div>
                    Voluptas possimus perspiciatis voluptatibus.
                </span>       
            </div>
            <div class="card-footer text-muted">
                    <span class="badge badge-pill badge-secondary">Kids</span>
                    <span class="badge badge-pill badge-danger">Books</span>
            </div>
            <div class="card-footer text-muted p-0">
                <div class="d-flex bd-highlight">
                    <div class="p-2 w-100 bd-highlight ml-2">20 Sep, Fri, 2015</div>
                    <div class="p-2 flex-shrink-1 bd-highlight">
                        <div class="btn-group">
                            <div class="dropdown dropdown-menu-right">
                                <button class="btn btn-sm dropdown-toggle btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#user_details" href="#" >View details</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_task" href="#">Edit this task</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_task" href="#">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
  <!--END data for schedule-->


